html{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.main-icon{
	font-size:40vw;
}
.thin{
	font-weight:300;
}
.very-thin{
	font-weight:200;
}
.no-bottom-margin{
	margin-bottom:0;
}
.no-top-margin{
	margin-top:0;
}
.some-empty-space-above{
	margin-top:5vw;
}
.a-bit-of-empty-space-below{
	margin-bottom:3vw !important;
}
a.md-action-button{
	position:fixed;
	bottom:7vw;
	right:7vw;
	z-index:99;
}